In [73]:
import pandas
df = pandas.read_csv('Data\Region_Data.csv', encoding='gb2312', skiprows=3, skipfooter=2, engine = 'python')

In [75]:
df.head()

,地区,2015年,2014年,2013年,2012年,2011年,2010年,2009年,2008年,2007年,2006年
0,北京市,23014.59,21330.83,19800.81,17879.40,16251.93,14113.58,12153.03,11115.00,9846.81,8117.78
1,天津市,16538.19,15726.93,14442.01,12893.88,11307.28,9224.46,7521.85,6719.01,5252.76,4462.74
2,河北省,29806.11,29421.15,28442.95,26575.01,24515.76,20394.26,17235.48,16011.97,13607.32,11467.60
3,山西省,12766.49,12761.49,12665.25,12112.83,11237.55,9200.86,7358.31,7315.40,6024.45,4878.61
4,内蒙古自治区,17831.51,17770.19,16916.50,15880.58,14359.88,11672.00,9740.25,8496.20,6423.18,4944.25

In [77]:
df = pandas.melt(df, col_level=0, id_vars='地区')

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 3 columns):
地区          310 non-null object
variable    310 non-null object
value       310 non-null float64
dtypes: float64(1), object(2)
memory usage: 7.3+ KB

In [83]:
df['variable'] = df['variable'].map(lambda e : int(e.strip('年')))

In [85]:
df.columns = ['area', 'year', 'gross_product']

In [88]:
import sqlite3 as lite
with lite.connect('country_stat.sqlite') as db:
    df.to_sql('regional_gross_product', con = db, if_exists='replace', index=None)

In [91]:
import pandas
with lite.connect('country_stat.sqlite') as db:
    df2 = pandas.read_sql('SELECT area, gross_product FROM regional_gross_product WHERE year = 2015', con = db)

In [92]:
df2.head()

     area  gross_product
0     北京市       23014.59
1     天津市       16538.19
2     河北省       29806.11
3     山西省       12766.49
4  内蒙古自治区       17831.51

In [96]:
import pandas
with lite.connect('country_stat.sqlite') as db:
    df3 = pandas.read_sql('SELECT * FROM regional_gross_product WHERE year = 2015 ORDER BY gross_product DESC LIMIT 3', con = db)
df3.head()

  area  year  gross_product
0  广东省  2015       72812.55
1  江苏省  2015       70116.38
2  山东省  2015       63002.33

In [104]:
import pandas
with lite.connect('country_stat.sqlite') as db:
    df4 = pandas.read_sql('SELECT area, AVG(gross_product) as avg_gross_product FROM regional_gross_product GROUP BY area HAVING avg_gross_product >= 10000 ORDER BY avg_gross_product DESC LIMIT 3', con = db)
df4.head()

  area  avg_gross_product
0  广东省          49403.249
1  江苏省          45275.185
2  山东省          42471.128