In [1]:
import pandas
df = pandas.read_csv('data/house-prices.csv')

In [2]:
df.head()

   Home   Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0     1  114300  1790         2          2       2    No         East
1     2  114200  2030         4          2       3    No         East
2     3  114800  1740         3          2       1    No         East
3     4   94700  1980         3          2       3    No         East
4     5  119800  2130         3          3       3    No         East

In [3]:
house = pandas.concat([df, pandas.get_dummies(df['Brick']), pandas.get_dummies(df['Neighborhood'])], axis = 1)
del house['No']
del house['West']
del house['Brick']
del house['Neighborhood']
del house['Home']
house.head()

    Price  SqFt  Bedrooms  Bathrooms  Offers  Yes  East  North
0  114300  1790         2          2       2    0     1      0
1  114200  2030         4          2       3    0     1      0
2  114800  1740         3          2       1    0     1      0
3   94700  1980         3          2       3    0     1      0
4  119800  2130         3          3       3    0     1      0

In [4]:
X = house[['SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Yes', 'East', 'North']]
Y = house['Price'].values

In [6]:
import statsmodels.api as sm
X2 = sm.add_constant(X)
est = sm.OLS(Y, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.869
Model:                            OLS   Adj. R-squared:                  0.861
Method:                 Least Squares   F-statistic:                     113.3
Date:                Sun, 07 May 2017   Prob (F-statistic):           8.25e-50
Time:                        15:43:21   Log-Likelihood:                -1356.7
No. Observations:                 128   AIC:                             2729.
Df Residuals:                     120   BIC:                             2752.
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const       2.284e+04   1.02e+04      2.231      0.028      2573.371  4.31e+04
SqFt          52.9937      5.734      9.242      0.000        41.640    64.347
Bedrooms    4246.7939   1597.911      2.658      0.009      1083.042  7410.546
Bathrooms   7883.2785   2117.035      3.724      0.000      3691.696  1.21e+04
Offers     -8267.4883   1084.777     -7.621      0.000     -1.04e+04 -6119.706
Yes          1.73e+04   1981.616      8.729      0.000      1.34e+04  2.12e+04
East       -2.224e+04   2531.758     -8.785      0.000     -2.73e+04 -1.72e+04
North      -2.068e+04   3148.954     -6.568      0.000     -2.69e+04 -1.44e+04
==============================================================================
Omnibus:                        3.026   Durbin-Watson:                   1.921
Prob(Omnibus):                  0.220   Jarque-Bera (JB):                2.483
Skew:                           0.268   Prob(JB):                        0.289
Kurtosis:                       3.421   Cond. No.                     2.38e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.38e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [14]:
predictorcols = ['SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Yes', 'East', 'North']
import itertools
for variables in itertools.combinations(predictorcols, 1):
    print(variables)

('SqFt',)
('Bedrooms',)
('Bathrooms',)
('Offers',)
('Yes',)
('East',)
('North',)

In [15]:
import itertools
AICs = {}
for k in range(1,len(predictorcols)+1):
    for variables in itertools.combinations(predictorcols, k):
        predictors  = X[list(variables)]
        predictors2 = sm.add_constant(predictors)
        est = sm.OLS(Y, predictors2)
        res = est.fit()
        AICs[variables] = res.aic

In [17]:
#AICs

In [20]:
from collections import Counter
c = Counter(AICs)
#c.most_common()
c.most_common()[::-10]

[(('SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Yes', 'East', 'North'),
  2729.3189814012489),
 (('SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Yes'), 2789.5148143560264),
 (('SqFt', 'Offers', 'East', 'North'), 2805.9290455915971),
 (('SqFt', 'Bedrooms', 'Bathrooms', 'East', 'North'), 2827.1498026886024),
 (('Bedrooms', 'Bathrooms', 'Offers', 'Yes', 'East'), 2837.9283737790702),
 (('Bedrooms', 'Bathrooms', 'Offers', 'Yes'), 2845.9732955595991),
 (('SqFt', 'Offers'), 2865.6942475349356),
 (('Bedrooms', 'Bathrooms', 'Offers', 'East'), 2874.0450207228523),
 (('Bedrooms', 'Bathrooms', 'Yes'), 2883.9535408052025),
 (('SqFt', 'Yes'), 2896.9093592727936),
 (('Bedrooms', 'North'), 2908.6992372764653),
 (('Bedrooms', 'Bathrooms'), 2916.0356899473968),
 (('Bathrooms',), 2936.1658574541634)]